.column-1, .column-2 {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin: auto;
}

h1 {
  text-align: center;
  color: navy;
}

header {
  padding: 1em;
  background-color: lightgreen;
}

footer {
  padding: 1em;
  margin: 1em;
  background-color: lightgreen;
  background-image: url(octocat.jpg);
  background-size: 10%;
  background-repeat: no-repeat;
  text-align: center;
}