header {
  background-color: tomato;
  margin: 1%;
  border: 2px solid green;
  border-radius: 10px;
  background-image: url("https://pbs.twimg.com/profile_images/634740140003295234/bpnVhq8Z.jpg");
}

.column-1 {
  background-color: blue;
  display: inline-block;
  vertical-align: top;
  width: 45%; 
  padding: 2%;
}

.column-2 {
  background-color: green;
  display: inline-block;
  vertical-align: top;
  width: 45%;
  padding: 2%;
}

footer {
  background-color: yellow;
  font-family: "verdana";
  opacity: 0.5;
}


